.container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	gap: 3rem;

	background-image: var(--backgroundImageUrl);
	background-size: cover;
	background-position: center;
}

.leftSide {
	display: flex;
	flex-direction: column;
}

.profileInfos {
	display: flex;
	flex-direction: row;
}

.champsList {
	display: flex;
	flex-direction: column;
	gap: 10px;

	height: 1000px;
	overflow-y: auto;
}

.champListli {
	display: flex;
}

.rightSide {
	display: flex;
	flex-direction: column;
}

.mostPlayedChamps {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	gap: 10px;
	list-style: none;
}

.matchsHistory {
	display: grid;
}